#pro{
    
    text-align: center;
    color: white;
    background-image: linear-gradient(
            0deg,
             rgba(0,0,0,0.5),rgba(0,0,0,0.0)) 
            ,url("descarga.png");
            
    
}

#pro {
   padding: 385px 1px;
   background-size: 460px;
   background-repeat: no-repeat;
   background-position: center;
}

#pro h2{
margin-top: none;
}

#pro p{
    display: none;
}
*{
    box-sizing: border-box;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 2em;}
ul{list-style: none;}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', sans-serif;
    margin:0;
}

button{
    font-size: 0em;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 10px;
    border: 0.5px solid rgba(190, 190, 190, 0);
    box-shadow: 2px 2px 10px black;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}




/* ? ----- Cuenta Regresiva ----- */
#cuenta {
    
	display: flex;
	justify-content: center;
}

.simply-section {
	background: #9b99af;
	width: 50px;
    height: 50px;
	z-index: 2;
	margin: 0 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
    transform: translate(1.9mm,0vh);
	display: block;
	font-size: 3vh;
	font-weight: 2vh;
    font-family: tornillo;
    
}

.simply-word {
    display:block;
	font-weight: 3vh;
	font-size: 0.5vh;
    font-family: tornill;
}

#hola{
    font-family: tornill;
    transform: translate(-15vh,-50vh);
    text-align: center;
    
    align-items: center;
}
/* ? ---------------------------- */



button:hover{
    background-color: rgba(234, 191, 63, 0.233);
}
.conteiner{
    max-width: 1400px;
    margin: auto;

}
@font-face {
    font-family: tornillo;
    src: url(cho.TTF);
}
@font-face {
    font-family: tornill;
    src: url(chot.TTF);
}
header{
    background-image: linear-gradient(
        0deg,
        #615f5f, #eabe3f)
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    color: rgb(0, 0, 110) ;
    font-size: 1.6em;
   
}

header .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}


.color-acento{
    color: blueviolet;
}

.FlowFer{
    color: rgb(228, 21, 21);
}
.color-1{
    color: rgb(11, 11, 223);
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover{
    color: blueviolet;
}

#title{
    display: flex;
    
  
    
    flex-direction: column;
    height: 35vh;
    background-repeat: no-repeat;
   
   padding: 1px;
   
}
#ti{
    display: block;

    transform: translate(0vh, -26vh);
    align-items: center center;
    text-align: center;
   
}
#title .vide,#title .vide2{ 
   
display: none;

}
#title .vide1{
    display: block;
    background-repeat: no-repeat;
 
 align-items: center;
 justify-content: center;
 text-align: center;

 height: 70vh;
 
 background-color: rgba(0, 0, 0, 0.658);
 background-position: center center;
 
}

#title h1{
    color: white;
    font-size: 2em;
}

#title button{
    font-size: 1em;
}

#sub-title{

}

#sub-title .conteiner{
    text-align: center;
    padding: 200px 12px;
}
#sub-title h2{
text-shadow: 10px 10px 10px ;
}

#productos{
    
    text-align: center;
    color: white;
    background-image: linear-gradient(
            0deg,
             rgba(0,0,0,0.5),rgba(0,0,0,0.0)) 
            ,url("le.jpg");
            
    
}

#productos {
   padding: 390px 1px;
   background-size: 680px;
   background-repeat: no-repeat;
   background-position: center;
}

#productos h2{
margin-top: none;
}

#productos p{
    display: none;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height:  80vh;
}

#final button{
    font-size: 5vw;

}

#final h2{
    font-size: 9vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .conteiner{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
        z-index: 4;
    }
    header .conteiner{
        flex-direction: row;
        justify-content: space-between;
    }
    header .logo{
        color: rgb(11, 59, 11);
        
        background-image:url("logo.png");
        background-size: 3em ;
        background-position-x: 0em;
        background-repeat: no-repeat;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #title{
        display: flex;
        
      
        
        flex-direction: column;
        height: 70vh;
        background-repeat: no-repeat;
       object-fit: none;
       padding: 1px;
       
    }
    #ti{
        
        transform: translate(0vh, -39vh);
        z-index: 3;
        align-items: center center;
        text-align: center center;
        
       
    }
    #title .vide1{ 
    
     display:flex;
     align-items:flex-start ;
     transform: translate(0vh, 78px);
     justify-content: center;
    
     height: 100vh;    
   
     background-position:center;
    background-size: auto;
   
   
  
    }
    #title .vide{
        display: none;
    }

    #title h1{


        font-size: 5em;
    }
    #title button{
        font-size: 1.5em;
    }
    #sub-title .conteiner{
        display: flex;
        justify-content: space-evenly;
    }
    #sub-title .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #sub-title h2{
        margin-top: 0px;
    }
    #sub-title .img-conteiner{
        background-image: linear-gradient(
        0deg,
         rgba(0,0,0,0.5),rgba(0, 0, 0, 0)) 
        ,url("flower-3.jpg");
        box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.5);

        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
    }
    #productos .programas{
        display: flex;
        justify-content: center;   
    }
    #productos p{
        display: block;
        margin-bottom: 30px;
    }
    #productos h3{
        margin-top: 0;
    }
    #productos h2{
        font-size: 4em;
    }
   
    .cartas:first-child{
        background-image: linear-gradient(
            0deg,
             rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
            ,url("rosas.jpg");
            
    }
    
    .cartas:nth-child(2){
        background-image: linear-gradient(
            0deg,
             rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
            ,url("clavel.jpg");
    }
    
    .cartas:nth-child(3){
        background-image: linear-gradient(
            0deg,
             rgba(0,0,0,0.5),rgba(0,0,0,0.5)) 
            ,url("girasol.jpeg");
    }
    #caracteristicas{
        background-image: url("precent.jpg");
        background-repeat: no-repeat;
        background-size: 200px 200px;
        background-position: calc(130vw - 500px) 340px;
    }
    #caracteristicas .conteiner{
        text-align: initial;
    }
    #caracteristicas ul{
        margin-left: 100px;
    }
    #final h2{
        font-size: 5em;
    }
    #final button{
        font-size: 2em;
    }
    footer .conteiner{
        justify-content: flex-end;
    }
    }

    @media (min-width:800px){
        #caracteristicas{
            background-image: url("precent.jpg");
            background-repeat: no-repeat;
            background-size: 250px 250px;
            background-position: calc(150vw - 800px) 350px;
            
            
    }
    #ti{
        
        transform: translate(0vh, -39vh);
        z-index: 3;
        align-items: center center;
        text-align: center center;
        
        /*padding: 200px 100px;
        transform: translate(0vh, -65vh);*/  
    }
    #title .vide{ 
    
        display:flex;
        align-items:flex-start ;
        transform: translate(0vh, 78px);
        justify-content: center;
      
        background-position:center;
       background-size: auto;
      
      
     
       }
       #title .vide1,#title .vide2{
           display: none;
       }
    }
    @media (min-width:900px){
        #caracteristicas{
            background-image: url("precent.jpg");
            background-repeat: no-repeat;
            background-size: 400px 400px;
            background-position: calc(150vw - 950px) 300px;
            
    }
    }
    @media (min-width:1000px){
        #caracteristicas{
            background-image: url("precent.jpg");
            background-repeat: no-repeat;
            background-size: 450px 450px;
            background-position: calc(120vw - 800px) 290px;
            
    }
    }
    @media (min-width:1200px){
    #caracteristicas{
        background-image: url("precent.jpg");
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: calc(100vw - 800px) 230px;
        
}
#title .vide2{ 
    
    display:flex;
    align-items:flex-start ;
    transform: translate(0vh, 78px);
    justify-content: center;
   
    height: 100vh;    
  
    background-position:center;
   background-size: auto;
  
  
 
   }
   #title .vide1,#title .vide{
       display: none;
   }
   #ti{
    display: block;

    transform: translate(0vh, -45vh);
    align-items: center center;
    text-align: center;
   
}}